@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 10%; /* Black for main text */
    --card: 0 0% 100%;
    --card-foreground: 0 0% 10%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45%;
    --primary: 0 0% 10%; /* Black for primary text */
    --primary-foreground: 0 0% 90%;
  }

  body {
    @apply bg-white text-black;
  }
}
